Package: wswitch
Version: 1.2
Section: base
Priority: optional
Architecture: all
Depends: xdotool
Maintainer: Rada Berar <ujagaga@gmail.com>
Homepage: 
Description: utility for quick switcing between workspaces 
 utility for quick switcing between workspaces
 and changing panel background for better diferencing.
